body {
	background-image: url("Clouds.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
}

.navbar {
	background-color: #ffffff;
	border-bottom: 2px solid #7ac943;
	border-right: 2px solid #7ac943;
	border-left: 2px solid #7ac943;
	font-family: 'PT Sans', sans-serif;
}

header, .subhead {
	padding-top: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 45px;
	text-align: center;
}

p {
	font-family: 'Cuprum', sans-serif;
	background-color: white;
	padding: 5px;
	font-size: 16px;
	border-right: 1px solid #828285;
	border-bottom: 1px solid #828285;
	border-left: 1px solid #828285;
}

.subhead {
	margin-bottom: 20px;
	font-size: 20px;
}

#line {
	border-bottom: 3px solid #000000;
	width: 50%;
	margin-left: 25%;
	margin-bottom: 20px;

}

button {
	margin: 10px;
}

.gif {
	display: inline-block;
	border: 1px solid #828285;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.city {
	display: inline-block;
	margin: 10px;
}

#city-input {
	text-transform: capitalize;
}

.capitalize {
	text-transform: capitalize;
}

label {
	/*color: #e5aa52;*/
	color: #000000;
	font-size: 18px;
	margin-right: 5px;
}

#clear {
    text-indent: -1000em;
    width: 16px;
    height: 16px;
    display: inline-block;
	background-image: url("wrong.png");
    position: relative;
    left: -20px;
    top: 3px;
}

.transbox {
  margin: 60px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

#city-buttons {
	background-color: #000000;
}